@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

body[data-scroll-locked][data-scroll-locked] {
  overflow: auto !important;
}

.blob-outline {
  .left { border-radius: 60% 40% 40% 60%; }
  .right { border-radius: 40% 60% 60% 40%; }
}